@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Duru+Sans&family=Kanit:wght@400;500&family=Nanum+Gothic:wght@800&display=swap');

:root {
    --primary-color:#F59E0B;
    --off-white:#D97706;
    --dark-gray:#F3F4F6;
   
}

body {
    font-family: 'Comfortaa', cursive;
        margin:0;
        
       
        
}



/* container */
.container {
padding: 0rem 1rem;
}


.container-center {
    max-width: 600px;
    margin: auto;
}


/* links */
.link {
    box-sizing: border-box;
    text-decoration: none;
    margin-top:0.3rem;
    margin-bottom:0.3rem;
     padding: inherit;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 1rem;
    color: white
   
}

.link-secondary {
    background-color: var(--primary-color);
    border-radius: 0.6rem;
    border: 1px solid var(--primary-color);
    color: white
}



/* list's */
.list-non-bullet {
    list-style: none;
    
}

.list-item-inline {
    display: inline;
    padding: 0.5rem;
    margin-top:0.5rem;
    margin-bottom:0.5rem;
   
}

/* navigation */
.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
 
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 5px;

    
}

.navigation .nav-pills {
    text-align: right;
   
}

.navigation .link {
    color: white;
}



.navigation .link-active {
    font-weight: bold;
    
}


/* header */
.hero {
    padding: 1rem;
}

.hero .hero-img {
    max-width: 250px;
    display: block;
    margin: auto;
    padding:1rem;
}

.hero .hero-heading {
    text-align:center;
    color: var(--off-white);
    padding-top: 1rem;
}

.hero .hero-heading .heading-inverted {
    color: var(--primary-color);
}


/* sections */
.section{
    padding: 0.3rem;
}
.section h1 {
    text-align: center;
   

}

.ow{
background-color: var(--off-white);
padding:1rem;
}
/* footers */
.footer{
    background-color: var(--primary-color);
    padding:2rem 0rem ;
    text-align: center;
    color:white;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
.footer .link{
    color:white;
    
}
.footer .footer-header{
    font-weight:bold;
    font-size:large;
}
.footer ul {
    padding-inline-start: 0px;

}
 .footer .footer-img{
    margin: auto;
    max-width: 250px;
    display: block;
    padding: 1rem;
 }
.hr{
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}
